# Root-level ignore
.DS_Store
.env
*.env
dist
build
*.log

# Ignore node_modules for both admin and api
admin/node_modules/
admin/dist/
admin/.env

api/node_modules/
api/dist/
api/.env

# Optional: OS & IDE specific
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# VSCode
.vscode/
.idea/

# Mac
__MACOSX

# Windows
Thumbs.db
